.playarea {
  /*border: 3px solid white;*/
  position: absolute;
  width:100vw;
  height:100vh;
  z-index: 0;
}

.overlay {
  transition: 1s;
  background: rgba(255, 0, 0, 0);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.diff-settings {
  border: 2px solid white;
  transition: 0.75s;
  z-index: 2;
}

.lifebar {
  opacity: 0;
  transition: 2s;
  position: absolute;
  bottom: 1vh;
  right: 0;
  width: 80vw;
  height: 4vh;
  background: rgba(255,255,255,0.1);
  border: 2px solid white;
  border-right: none;
  text-align: right;
}
.inner_lifebar {
  transition: 0.75s;
  background: green;
  height: 3.5vh;
  width: 0%;
  max-width: 100%;
  position: absolute;
  right: 0;
  transition-timing-function: linear;
}

.endscreen {
  z-index: 10;
  border: 2px solid white;
}

/* - HUD Positios - */
.pos_hit {
  position: relative;
  top:1vh;
  left:1vh;
}
.pos_miss {
  position: relative;
  top:1vh;
  left:1vh;
}
.pos_score {
  position: absolute;
  top:1vh;
  right:1vh;
}
.pos_combo {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.pos_message {
  margin: 0;
  padding: 0.5em;
  position: absolute;
  bottom: 6vh;
  right: 5px;
}
.pos_stop {
  z-index: 500;
  position: relative;
  top:1vh;
  left:1vh;
}
